body{
    font-family: 'poppins', sans-serif;
    background-color: rgba(255, 228, 196, 0.451);
    margin: 0%;
}
h1{
    font-size: 50px;
 
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
img{
    size: 30px 30px;
}
.flexible_container{
    display: flex;
    padding-left:15px ;
    margin-bottom: 200px;
}
.half_width{
    width: 50%;
    padding-left:5px ;

}

.half_width img{
    width: 60%;

}
.link_button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
    color: aliceblue;
    font-weight: 700;
}
.top_banner{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
}
.dream_big{
    size-adjust: 50%;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience_item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    border-left: 10px solid orange;
}
footer p{
    text-align: center;
}